<h1>Hey!Drop your best quotes here. </h1>
<div class="container">

  <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
<div id="list">
<ul class="list-group">
    <div class="row" *ngFor='let quote of quotes;let i = index'>
        <li class="li">{{quote.name}}</li>
        <button class="btn btn-primary"  (click)='toogleDetails(i)'>Quote Details</button>

        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isSeen)= 'seenQuote($event,i)'></app-quote-details>
    </div>


</ul>
  </div>
</div>
