/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";



h1{

  color: blue;
  text-align: center;
  margin-left: -180px;
}


.form-group{
  margin-bottom: 50px;
}
#formdiv{
  margin-left: 250px;s
  margin-bottom: 100px;
}
#list{
margin-top: 50px;
  background-color: #5FCD59;
}
.li{

    margin-left: 400px;
    margin-top: 80px;
}
