/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";



h1{

  color: blue;
  text-align: center;
  margin-left: -180px;
}
h2{
  text-align: center;
  text-decoration-style: dotted;
  margin-top: -80px;
}

.form-group{
  margin-bottom:15px;
}
#formdiv{
  margin-left: 250px;
  margin-bottom: 30px;
  background-color: #FFB23C;
  padding: 80px;
}
#list{
margin-top: -25px;
  background-color: #5FCD59;
  margin-right: 200px;
  padding: 80px;
}
.li{

    margin-left: 200px;
    margin-top: 80px;
}
#button{
  margin-top: 75px;
  margin-bottom: 5px;
}
body{
  background-color: pink;

}
#quote{
  font-family: serif;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}
